@model Budget_App.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete category @Html.DisplayFor(model => model.Name)?</h2>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index", "Budgets", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
